<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="..\src\packages" />
        <add key="Azure.Core" value="..\src\packages" />
    </packageSources>

    <config>  
        <add key="globalPackagesFolder" value="..\src\packages" />
        <add key="defaultPushSource" value="..\src\packages" />
    </config>
    <activePackageSource>
        <add key="All" value="..\src\packages" />
    </activePackageSource>
    <config>
        <add key="repositoryPath" value="..\src\packages" />
    </config>

</configuration>